* {
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Montserrat', serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

.body {
    min-width: 1200px;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

.green {
    color: #18CFAB
}

.light-grey {
    color: rgba(255, 255, 255, 0.6);
}

.grey {
    color: #BBBBBB;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.topItems {
    display: flex;
    justify-content: space-between;
}

.header {
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1012px;
    background-attachment: fixed;
}

.top {
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
    display: block;
}

.nav {
    display: flex;
    align-items: center;
}

.navItems {
    display: flex;
    justify-content: space-between;
    width: 700px;
    align-items: center;
    cursor: pointer;

}

.logo {
    display: flex;
    align-items: center;
}

.logoImg {
    background-image: url("../img/Polygon 1 1.svg");
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    width: 58px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-right: 6px;
}

.logoText {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.text-13 {
    font-weight: 300;
    font-size: 13px;
}

.navText {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    list-style-type: none;
    text-transform: uppercase;

}

.navText:hover {
    color: rgba(24, 207, 171, 1)
}

.search {
    background-image: url("../img/Search icon 1.png");
    width: 20px;
    height: 20px;
}

.h2-text {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.h1-text {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 22px;
    margin-bottom: 22px;
}

.h3-text {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;

}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 264px;
}

.buttons {
    display: flex;
    margin-top: 134px;
}

.button {
    width: 169px;
    height: 63px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    background-color: #18CFAB;
    box-shadow: 0 -5px white;
}


.purchase {
    margin-left: 26px;
    background-color: #00CBF6;
}

.footer {
    margin-top: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    display: grid;
    grid-template-rows: repeat(1, 377px);
    grid-template-columns:repeat(4, 1fr);
    grid-template-areas:
"block1 block2 block3 block4"

}

.block1, .block3 {
    color: #18CFAB;
    background-color: #1C2A33;
    display: flex;
    align-items: center;
    justify-content: center;

}

.block2, .block4 {
    color: #FFFFFF;
    background-color: #18CFAB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-content {
    height: 172px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.services-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
    margin-top: 83px;
    position: relative;
}

.services-title::after {
    content: "";
    width: 76px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    top: 70px;
    right: 550px;
}

.services-title::before {
    content: "";
    width: 76px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    top: 73px;
    right: 540px;
}

.services-list {
    display: flex;
    justify-content: stretch;
    margin-top: 101px;
    padding: 0;
}

.service-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    list-style-type: none;
    height: 72px;
    width: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.service-item:hover {
    border: 1.5px solid #18CFAB;
}

.active {
    background-color: #18CFAB;
    color: #FFFFFF;
    position: relative;

}

.active::after {
    content: url("../img/Rectangle 60.png");

    position: absolute;
    right: 74px;
    bottom: 0;
    width: 27px;
    height: 15px;
}

.service-picture {
    height: 139px;
    width: 192px;
}

.service-block {
    display: flex;
    margin-top: 23px;

}

.service-text {
    font-weight: 300;
    font-size: 13px;
    line-height: 24px;
    color: #777777;
    margin-left: 15px;
    text-align: justify;

}

.second-footer {
    background-image: url("../img/Layer 21.png");
    height: 476px;
    margin-top: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second-footer-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;

}

.second-footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    margin-bottom: 67px;
    margin-top: 12px;
}

.work {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.work-list {
    width: 582px;
    display: flex;
    justify-content: stretch;
    margin-top: 95px;
    padding: 0;
}

.work-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    list-style-type: none;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px;
}

.work-item:hover {
    border: 1.5px solid #18CFAB;
}

.work-image-section {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
}

.work-image:hover .img {
    display: none;
}

.work-image:hover .hover {
    display: flex;
}

.hover {
    background-color: #E9EDEF;
    width: 285px;
    height: 211px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: solid 6px #18CFAB;;
    display: none;
}

.hover-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
}

.hover-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #8A8A8A;
}

.btn-load {
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin: 70px auto 0 auto;
    justify-content: space-around;
    cursor: pointer;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #18CFAB;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 3s linear infinite;
    margin: 15px auto 0 auto;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.active-block {
    border: 1.5px solid #18CFAB;
}

.news-block {
    position: relative;
    width: 263px;
}

.news-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    text-align: center;
    color: #717171;

}

.news-comment {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    color: #777777;
}

.date {
    background-color: #203E38;
    position: absolute;
    width: 70px;
    height: 68px;
    right: 0;
    top: 0;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.news-block:hover .news-title {
    color: #18CFAB;

}

.news-block:hover .date {
    background-color: #18CFAB;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.reviews {
    background-image: url("../img/Sections background/section-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 853px;
    padding-top: 98px;
    margin-top: 128px;
}

.reviews-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 99px;
}

.reviews-title::after {
    content: "";
    width: 76px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    top: 70px;
    right: 210px;
}

.reviews-title::before {
    content: "";
    width: 76px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    top: 73px;
    right: 200px;
}

.review-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    margin-bottom: 37px;
}

.marks {
    width: 44px;
    height: 30px;
    margin-bottom: 36px;
}

.selected-review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    border-radius: 50%;
    border: 12px solid rgba(31, 218, 181, 0.2);
    width: 142px;
    height: 142px;
    margin-top: 38px;
}

.preview-block {
    display: flex;
    margin-top: 56px;
    justify-content: space-between;
    align-items: center;
    width: 480px;
}

.photo-preview {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 6px solid rgba(31, 218, 181, 0.2);
}

.arrow {
    width: 30px;
    height: 30px;
}

.reverse {
    transform: scaleX(-1);
}

.arrow:hover {
    background-color: #18CFAB;
}

.copyright {
    background-color: #22353F;
    height: 121px;
    margin-top: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible {
    display: none;
}
.active-review {
    margin-bottom: 15px;
    transition: 0.5s;
}